
  <div class="desktop-footer">
    <div class="container-fluid">
      <div class="copy-right">
       <div class="row" >
         <div class="col-2" style="padding-top: 9px;margin-left: -40px;font-size: 18px;" >{{title}}</div>
         <div class="col-5" ></div>
         <div  (click)="doaction()" class="col-2" style="margin-left: 345px;padding-top: 10px" ><input  type="button" style="display: none;"><span class="btn-label"><i class="pi pi-plus"></i></span> &nbsp;{{actionTitle}}</div>
         </div>
      </div>
    </div>
  </div>

